.DS_Store
*/*/*/bin/*
*/*/bin/*
*/bin/*
bin/*
*/*/*/out/production/*
*/*/out/production/*
*/out/production/*
out/production/*
*/*/*/.idea/*
*/*/.idea/*
*/.idea/*
.idea/*
*/*/*/android-profile/*
*/*/android-profile/*
*/android-profile/*
android-profile/*