.DS_Store
*/*/*/bin/*
*/*/bin/*
*/bin/*
bin/*
*/*/*/out/*
*/*/out/*
*/out/*
out/*
*/*/*/app/*
*/*/app/*
*/app/*
app/*
*/*/*/.idea/*
*/*/.idea/*
*/.idea/*
.idea/*
*/*/*/android-profile/*
*/*/android-profile/*
*/android-profile/*
android-profile/*